node_modules/
dist/
dist-electron/
bun.lock
*.db
*.json.bak
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Runtime
*.pid
*.seed

# Coverage
coverage
*.lcov

# Build
release/
build/Release
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
